.container{
	position: absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	width:400px;
	height:200px;
	background:#CCC;
	margin:auto;
	overflow: hidden;
}
.circle_a{
	position: absolute;
	width: 100px;
    height: 100px;
    left: -50px;
    top: -50px;
	background-color: #fc0;
    border-radius: 100px;
}
.circle_b{
	position: absolute;
	width: 100px;
    height: 100px;
	bottom:-50px;
	right:-50px;
	background-color: #fc0;
    border-radius: 100px;
}